body{
     /* background-color: rgb(238, 255, 0); */
}

.logo{
    color:black;
    font-size: 25px;
    font-weight: 800; 
    border-bottom: 2px  solid black;
}
.nav-item{
    color: black;
    font-weight: 900;
   
}
.nav-item a:hover{
    color: tomato;
    border-bottom: 2px solid rgb(26, 19, 19);
    
}
.header{
    background-color:#f4f4f4;
}